body{
    background-color: #0f0f0f;
}

header{
    border: 2px solid green;
}

nav{
    background-color: darkmagenta;
}

a{
    text-decoration: none;
    color: white;
    background-color: rgb(42, 14, 143);
}

ul{
    list-style: none;
}
.nav-link{
    background-color: red;
}